html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

body {
  --stripe-width: 20px;
  --stripe-1: #111;
  --stripe-2: #222;
  max-height: 100vh;
  background: repeating-linear-gradient(
    135deg,
    var(--stripe-1) 0px,
    var(--stripe-1) var(--stripe-width),
    var(--stripe-2) var(--stripe-width),
    var(--stripe-2) calc(var(--stripe-width) * 2)
  );
  background-attachment: fixed;

  height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle at top,
    #ff2ed190,
    rgba(0, 0, 0, 0.6)
  );
  opacity: 0.5;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 1;
}

#root {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: Rubik;
  font-weight: bold;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  background: #111;
}

/* Pokemon Types  */

span.type {
  font-family: Rubik;
}

span.poison {
  background: #aa68ec;
}

span.ghost {
  background: #5d3386;
}

span.electric {
  background: #f3c82f;
}

span.fighting {
  background: #df1d28;
}

span.fire {
  background: #f37a36;
}

span.dark {
  background: #3a3645;
}

span.flying {
  background: #afbde1;
}

span.flying {
  background: #fa8072;
}

span.water {
  background: #569ef3;
}

span.ice {
  background: #61e7ef;
}

span.bug {
  background: #6dc047;
}

span.grass {
  background: #5ae257;
}

span.normal {
  background: #c7b77e;
}

span.ground {
  background: #b48731;
}

span.rock {
  background: #7d6148;
}

span.steel {
  background: #8390b1;
}

span.fairy {
  background: #fc7fd1;
}

span.psychic {
  background: #ce1bd1;
}
